@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

html {
  font-size: 12pt; }

section {
  height: 100vh; }
  section .banner {
    width: 40vw;
    position: absolute;
    left: 10vw;
    top: 0;
    height: 100vh;
    overflow: hidden; }
    section .banner .background {
      width: 150vw;
      height: 150vh;
      position: absolute;
      top: -25vh;
      left: -50vw; }
    section .banner .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  section .content {
    position: absolute;
    left: 15vw;
    top: 10vh; }
  section footer {
    position: absolute;
    bottom: 5vh;
    height: 10vh;
    width: 100vw; }

section.intro {
  background-color: #121212; }
  section.intro header {
    position: absolute;
    top: 0;
    width: 100%; }
    section.intro header .bar-h {
      background-color: #2c2c2c;
      height: 1px;
      top: 1rem;
      width: calc(50vw - 80px);
      position: absolute;
      right: 75px; }
    section.intro header .links {
      position: absolute;
      right: 0;
      border: 1px solid #929292; }
      section.intro header .links .fb, section.intro header .links .linkedin {
        padding: 0.25rem;
        width: 30px;
        margin: 0;
        display: inline-block;
        text-align: center; }
      section.intro header .links .fb {
        background-color: #929292;
        color: #121212; }
      section.intro header .links .linkedin {
        color: #929292; }
  section.intro .banner .background {
    background-image: url("https://anthonyvitocuaderno.github.io/resume/img/banner-1.jpg");
    background-size: cover;
    background-position: center;
    animation: 300s spin infinite; }
  section.intro .banner .overlay {
    background-color: #c02828;
    opacity: 0.1; }
  section.intro .overlay {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.25));
    height: 100%;
    position: absolute;
    left: 0;
    right: 0; }
  section.intro .content h3 {
    letter-spacing: 1px;
    text-shadow: black 1px 1px 1px;
    color: #929292;
    font-size: 1rem; }
    section.intro .content h3 .emphasis {
      color: #961f1f; }
  section.intro .content h1 {
    letter-spacing: -5px;
    color: #929292;
    font-size: 5.5rem;
    font-weight: bold;
    text-shadow: black 1px 1px 1px; }
  section.intro footer {
    letter-spacing: 2px;
    color: white; }
    section.intro footer .left {
      left: 20vw;
      width: 40vw;
      position: absolute;
      height: 100%; }
      section.intro footer .left i.fa {
        width: 25px; }
      section.intro footer .left small {
        font-size: 0.75rem; }
      section.intro footer .left a {
        color: white;
        text-decoration: none; }
        section.intro footer .left a:hover {
          color: #f2c2c2; }
    section.intro footer .right {
      width: 20vw;
      position: absolute;
      right: 0;
      height: 100%; }
      section.intro footer .right .explore {
        color: #929292;
        font-size: 1.25rem;
        padding-bottom: 0.5rem;
        display: inline-block;
        text-decoration: none;
        transition: 0.5s ease all;
        width: 0; }
        section.intro footer .right .explore:hover {
          border-bottom: 1px solid #929292;
          width: 100%; }
      section.intro footer .right .underline {
        height: 1px;
        width: 100%;
        background-color: #525252; }
