$primary-color: #961f1f
$primary-light-color: lighten($primary-color, 10%)
$primary-lighter-color: lighten($primary-color, 25%)
$primary-lightest-color: lighten($primary-color, 50%)
$primary-dark-color: darken($primary-color, 10%)
$primary-darker-color: darken($primary-color, 25%)
$primary-darkest-color: darken($primary-color, 50%)
$accent-color: #121212
$accent-light-color: lighten($accent-color, 10%)
$accent-lighter-color: lighten($accent-color, 25%)
$accent-lightest-color: lighten($accent-color, 60%)
@font-face
    font-family: 'DonVito';
    src: url(/css/theGodfather-v2.ttf);

@keyframes bouncy
	0%
		transform: translate(0, 0)
	70%
		transform: translate(0, 15px)
	100%
		transform: translate(0, 0)
@keyframes slideRight
	0%
		transform: translate(0, 0)
	70%
		transform: translate(15px, 0)
	100%
		transform: translate(0, 0)


.btn-intro
	border: 1px solid $accent-lightest-color
	font-size: 1rem
	padding: 0.5rem 1rem
	border-radius: 1.5rem
	@media screen and (max-width: 767px) 
		border-color: $primary-lightest-color

.btn-scroll
	animation: 1s bouncy infinite
	display: inline-block!important
	&:hover
		animation: 0.5s bouncy infinite

@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

html
	font-size: 12pt
	background-color: $accent-color


@keyframes travel
	0%
		left: 0
	100%
		left: calc(100% - 14px)
.panel-line
	opacity: 0.5
	width: 100%
	height: 1px
	background-color: $accent-lightest-color
	position: absolute
	.particle
		background-color: $primary-dark-color
		height: 7px
		width: 14px
		display: inline-block
		position: absolute
		top: -3px
		animation: 5s travel infinite

@media screen and (max-width: 767px) 
	h1
		font-size: 3rem!important
		letter-spacing: 1px!important
	.explore
		display: none!important


	section.active.splash
		footer
			height: 115px!important
			.left
				left: -500px!important
				width: calc(100vw - 20px)!important
	section.active
		footer
			height: 115px!important
			.left
				left: 10px!important
				width: calc(100vw - 20px)!important
			.left>a
				color: $primary-lightest-color!important
	.banner
		left: 0!important
		width: 100vw!important
		height: 70vh!important
		.background
			animation: none!important
	.right
		display: none
	small
		font-size: 0.75rem!important
		line-height: 0.75rem!important
	br
		line-height: 0.5rem!important
		height: 0!important
	.content
		left: 10px!important

section.active
	left: 0!important
	width: 100%
	.banner
		transition: 1s ease all
		width: 40vw
	.content
		h3
			font-size: 1.5rem
		h1
			font-size: 5.5rem

.emphasis
	color: $primary-color
section
	width: 0
	position: absolute!important
	top: 0
	overflow: hidden
	height: 100vh
	transition: 0.5s ease-out all

	.content
		h3
			transition: 1s ease all
			letter-spacing: 1px
			text-shadow: black 1px 1px 1px;
			color: $accent-lightest-color
			font-size: 0
		h1
			transition: 1s ease all
			letter-spacing: 3px
			color: $accent-lightest-color
			font-size: 0
			text-shadow: black 1px 1px 1px;
			font-family: 'DonVito' !important;

	header
		transition: 2.5s ease all
		position: absolute
		top: 0
		width: 100%
		.bar-h
			background-color: $accent-light-color
			height: 1px
			top: 1rem
			width: calc(50vw - 80px)
			position: absolute
			right: 75px
		.links
			position: absolute
			right: 0
			border: 1px solid $accent-lightest-color
			.fb, .linkedin
				padding: 0.3rem
				width: 30px
				margin: 0
				display: inline-block
				text-align: center
				font-size: 0.75rem
			.fb
				background-color: $accent-lightest-color
				color: $accent-color
			.linkedin
				color: $accent-lightest-color
	.banner
		transition: 0.5s ease all
		width: 0vw
		position: absolute
		left: 10vw
		top: 0
		height: 100vh
		overflow: hidden
		.background
			width: 150vw
			height: 150vh
			position: absolute
			top: -25vh
			left: -50vw
		.overlay
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
	
	.content
		position: absolute
		left: 15vw
		top: 10vh
	footer
		position: absolute
		bottom: 10vh
		height: 125px
		width: 100vw

section.intro.splash
	.banner
		width: 100vw
		left: 0
	.overlay
		background: black

	.brand
		opacity: 1
	header
		transform: translate(100%, 0)
	footer
		.left
			left: -100%
		.right
			right: -100%
	.content
		h3
			transform: translate(-1500px, 0)
		h1
			transform: translate(-1500px, 0)
@keyframes vito
	0%
		background-size: 100%
	30%
		background-size: 100%
	70%
		background-size: 150%

	100%
		background-size: 150%
@keyframes vitoFade
	0%
		opacity: 1
	30%
		opacity: 0
	75%
		opacity: 0.5
	100%
		opacity: 1
section.intro
	.weak-overlay
		width: 100%
		height: 100%
		background-color: black
		animation: 60s vitoFade infinite
	animation: 60s vito infinite
	background-image: url('/img/vito.jpg'); 
	background-position: bottom !important; 
	background-size: cover !important; 
	background-attachment: fixed !important; 
	background-color: $accent-color
	.brand
		font-size: 2rem
		transition: 2s ease all
		opacity: 0
		width: 100%
		z-index: 999
		color: $accent-lightest-color
		position: absolute
		left: 0
		right: 0
		text-align: center
		top: 50vh
		.emphasis
			color: $primary-color
		.ring
			width: 100%
			text-align: center
			position: relative
			transform: scale(0.75)
			opacity: 0.5
			img.blade
				top: calc(50% - 75px)
				left: calc(50% - 75px)
				position: absolute
				width: 150px
				animation: 1.5s spin infinite ease-out
			img.colored
				top: calc(50% - 50px)
				left: calc(50% - 50px)
				position: absolute
				animation: 1.5s spin infinite ease-out reverse
				width: 100px
			img.dashed
				top: calc(50% - 65px)
				left: calc(50% - 65px)
				position: absolute
				width: 130px
				animation: 3s spin infinite ease-out
			img.part
				top: calc(50% - 40px)
				left: calc(50% - 40px)
				position: absolute
				width: 80px
				animation: 2s spin infinite ease-out reverse
			img.thin
				top: calc(50% - 30px)
				left: calc(50% - 30px)
				position: absolute
				width: 60px
				animation: 1s spin infinite ease-out
			img.thin-sm
				top: calc(50% - 25px)
				left: calc(50% - 25px)
				position: absolute
				width: 50px
				animation: 1s spin infinite ease-out reverse

	
	.banner
		.background
			background-image: url('https://anthonyvitocuaderno.github.io/img/banner-1.jpg')
			background-size: cover
			background-position: center
			animation: 300s spin infinite
		.overlay
			background-color: $primary-light-color
			opacity: 0.1
	
	.overlay
		transition: 3s ease all
		height: 100%
		position: absolute
		left: 0
		right: 0

	

	footer
		letter-spacing: 2px
		color: white
		.left
			transition: 1.75s ease all
			left: 20vw
			width: 40vw
			position: absolute
			height: 100%
			i.fa
				width: 25px
			small
				font-size: 0.75rem
			a
				color: white
				text-decoration: none
				&:hover
					color: $primary-lightest-color
		.right
			transition: 2.25s ease all
			width: 20vw
			position: absolute
			right: 0
			height: 100%
			.explore
				padding-top: 50vh
				margin-top: -50vh
				display: inline-block
				color: $accent-lightest-color
				font-size: 1.25rem
				padding-bottom: 0.5rem
				display: inline-block
				text-decoration: none
				transition: 0.5s ease all
				width: 0
				&:hover
					border-bottom: 1px solid $accent-lightest-color
					width: 100%
			.underline
				height: 1px
				width: 100%
				background-color: $accent-lighter-color

section.summary.active.scrolled
	.left
		top: 5vh
	.title
		position: fixed
		top: 0
		.text
			font-size: 2rem
			opacity: 0
	.panel-line.one
		top: 1rem
		width: calc(100% - 70px)
	.panel-line.two
		top: calc(100vh - 1rem)
	.skills
		left: calc(10vw + 5px)
		width: 25vw

section.summary.active
	.links
		border: 1px solid $primary-color
		.fb, .linkedin
			padding: 0.3rem
			width: 30px
			margin: 0
			display: inline-block
			text-align: center
			font-size: 0.75rem
		.fb
			background-color: $primary-color
			color: $accent-lightest-color
		.linkedin
			color: $primary-color
	.panel-line
		position: fixed
	header
		position: fixed

@keyframes zooming
	0%
		background-size: 200vw
	70%
		background-size: 300vw
	100%
		background-size: 200vw
section.summary
	height: auto
	overflow-x: hidden
	background-image: url('https://anthonyvitocuaderno.github.io/img/banner-2.jpg')
	background-attachment: scroll
	background-position: center
	animation: 120s zooming infinite
	left: 100%
	background-color: $accent-lightest-color
	.skills
		transition: 1s ease all
		h5
			color: $primary-color
			font-size: 1rem
		li
			font-size: 0.75rem
			line-height: 0.75rem
		position: fixed
		left: -100vw
		top: 20vh
	.panel-line
		transition: 1s ease all
	.panel-line.one
		top: calc(40vh - 5rem)
		.particle
			animation: 5s travel infinite
	.panel-line.two
		top: calc(40vh + 3rem)
		.particle
			animation: 5s travel infinite reverse
	.panel-line.three
		top: 0
		left: -40%
		transform: rotateZ(90deg)
		.particle
			animation: 5s travel infinite
	.overlay.darken
		background: linear-gradient(to right, rgba(0, 0, 0, 0.8) , transparent, transparent);
		opacity: 0.5
	.overlay
		transition: 0.2s ease all
		height: 100%
		width: 100%
		opacity: 0.15
		position: absolute
	header
		.bar-h
			background-color: $accent-lightest-color
		.left
			transition: 1s ease all
			position: absolute
			left: calc(10vw + 5px)
			top: 10vh
			font-size: 1.25rem
			width: calc(25vw - 5px)
			line-height: 1.2rem
			.name
				border-bottom: 1px solid $primary-color
				padding-bottom: 0.5rem
				margin-bottom: 0.5rem
				display: block
			.emphasis
				color: $primary-color
				font-weight: bold

	.title
		transition: 1s ease all
		z-index: 1
		font-weight: bold
		letter-spacing: 3px
		font-size: 5rem
		position: absolute
		top: calc(40vh - 5rem)
		left: 0
		right: 0
		text-align: center
		.text
			z-index: 1
			transition: 1s ease all
		p
			font-size: 1rem
			width: 70%
			margin-left: 15%
			margin-top: 2rem
		.back, .forward
			display: inline-block
			font-size: 3rem
			margin: 2rem
			a
				text-decoration: none
				color: $accent-lightest-color
				&:hover
					color: white
		.back
			z-index: 2
			position: absolute
			left: 0
			a
				color: $accent-color
		.forward
			position: absolute
			right: 0
	.paper.page-2
		background-color: $accent-color
		.education
			right: 0

		.btn-educ
			.left
				display: inline-block
			.right
				display: none
		aside
			background-color: $accent-light-color
	.paper
		transition: 0.5s ease all
		padding: calc(10vh - 1px) 2rem calc(10vh - 1px) 1rem
		border-top: calc(1rem + 1px) solid $primary-color
		position: relative
		margin-top: 100vh
		z-index: 100 !important
		margin-left: 35vw
		width: 65vw
		min-height: 100vh
		background-color: white
		a
			color: $primary-color
		h2
			margin-bottom: 3rem
		table
			tr
				td
					width: 50%
					vertical-align: top
					.date
						font-size: 0.8rem
						line-height: 0.8rem
						height: 1.6rem
						padding: 0.4rem 0.6rem
						border-radius: 0.8rem
						background-color: $accent-color
						color: white
						display: inline-block
						margin-bottom: 2rem
					p
						text-align: justify
						margin-bottom: 1rem
				td:first-child
					text-align: right
					padding-right: 2rem
					position: relative
					border-right: 1px solid $primary-color
					&:after
						content: " "
						height: 1.6rem
						width: 1.6rem
						background-color: $primary-color
						position: absolute
						right: -0.8rem
						top: 0rem
						border-radius: 0.8rem
						border: 0.5rem solid white
				td:last-child
					padding-left: 2rem
					text-align: left
		.btn-educ
			display: inline-block
			padding: 1rem
			.left
				display: none
			.right
				display: inline-block
				animation: 1s slideRight infinite
		h2
			font-size: 1.25rem
		p
			font-size: 0.75rem
		.education
			background-color: white
			transition: 0.5s ease all
			padding: calc(10vh - 1px) 2rem
			position: absolute
			width: 100%
			height: 100%
			top: 0
			right: -100%
		p
			margin-bottom: 0.5rem
		aside
			text-align: center
			font-size: 1rem
			position: absolute
			left: -25vw
			bottom: 0
			width: 25vw
			background-color: $primary-color
			a
				text-decoration: none
				color: white