@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

html {
  font-size: 12pt;
  background-color: #121212; }

@keyframes travel {
  0% {
    left: 0; }
  100% {
    left: calc(100% - 14px); } }

.panel-line {
  opacity: 0.5;
  width: 100%;
  height: 1px;
  background-color: #ababab;
  position: absolute; }
  .panel-line .particle {
    background-color: #6c1616;
    height: 7px;
    width: 14px;
    display: inline-block;
    position: absolute;
    top: -3px;
    animation: 5s travel infinite; }

section.active {
  left: 0 !important;
  width: 100%; }
  section.active .banner {
    transition: 1.5s ease all;
    width: 40vw; }
  section.active .content h3 {
    font-size: 1.5rem; }
  section.active .content h1 {
    font-size: 5.5rem; }

section {
  width: 0;
  position: absolute !important;
  top: 0;
  overflow: hidden;
  height: 100vh;
  transition: 1s ease-out all; }
  section .content h3 {
    transition: 1s ease all;
    letter-spacing: 1px;
    text-shadow: black 1px 1px 1px;
    color: #ababab;
    font-size: 0; }
    section .content h3 .emphasis {
      color: #961f1f; }
  section .content h1 {
    transition: 1.5s ease all;
    letter-spacing: -5px;
    color: #ababab;
    font-size: 0;
    font-weight: bold;
    text-shadow: black 1px 1px 1px; }
  section header {
    transition: 2.5s ease all;
    position: absolute;
    top: 0;
    width: 100%; }
    section header .bar-h {
      background-color: #2c2c2c;
      height: 1px;
      top: 1rem;
      width: calc(50vw - 80px);
      position: absolute;
      right: 75px; }
    section header .links {
      position: absolute;
      right: 0;
      border: 1px solid #ababab; }
      section header .links .fb, section header .links .linkedin {
        padding: 0.25rem;
        width: 30px;
        margin: 0;
        display: inline-block;
        text-align: center; }
      section header .links .fb {
        background-color: #ababab;
        color: #121212; }
      section header .links .linkedin {
        color: #ababab; }
  section .banner {
    transition: 0.5s ease all;
    width: 0vw;
    position: absolute;
    left: 10vw;
    top: 0;
    height: 100vh;
    overflow: hidden; }
    section .banner .background {
      width: 150vw;
      height: 150vh;
      position: absolute;
      top: -25vh;
      left: -50vw; }
    section .banner .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  section .content {
    position: absolute;
    left: 15vw;
    top: 10vh; }
  section footer {
    position: absolute;
    bottom: 5vh;
    height: 10vh;
    width: 100vw; }

section.intro.splash .banner {
  width: 100vw;
  left: 0; }

section.intro.splash .overlay {
  background: black; }

section.intro.splash .brand {
  opacity: 1; }

section.intro.splash header {
  transform: translate(100%, 0); }

section.intro.splash footer .left {
  left: -100%; }

section.intro.splash footer .right {
  right: -100%; }

section.intro.splash .content h3 {
  transform: translate(-1500px, 0); }

section.intro.splash .content h1 {
  transform: translate(-1500px, 0); }

section.intro {
  background-color: #121212; }
  section.intro .brand {
    font-size: 2rem;
    transition: 2s ease all;
    opacity: 0;
    width: 100%;
    z-index: 999;
    color: #ababab;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50vh; }
    section.intro .brand .emphasis {
      color: #961f1f; }
    section.intro .brand .ring {
      width: 100%;
      text-align: center;
      position: relative;
      transform: scale(0.75);
      opacity: 0.5; }
      section.intro .brand .ring img.blade {
        top: calc(50% - 75px);
        left: calc(50% - 75px);
        position: absolute;
        width: 150px;
        animation: 1.5s spin infinite ease-out; }
      section.intro .brand .ring img.colored {
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        position: absolute;
        animation: 1.5s spin infinite ease-out reverse;
        width: 100px; }
      section.intro .brand .ring img.dashed {
        top: calc(50% - 65px);
        left: calc(50% - 65px);
        position: absolute;
        width: 130px;
        animation: 3s spin infinite ease-out; }
      section.intro .brand .ring img.part {
        top: calc(50% - 40px);
        left: calc(50% - 40px);
        position: absolute;
        width: 80px;
        animation: 2s spin infinite ease-out reverse; }
      section.intro .brand .ring img.thin {
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        position: absolute;
        width: 60px;
        animation: 1s spin infinite ease-out; }
      section.intro .brand .ring img.thin-sm {
        top: calc(50% - 25px);
        left: calc(50% - 25px);
        position: absolute;
        width: 50px;
        animation: 1s spin infinite ease-out reverse; }
  section.intro .banner .background {
    background-image: url("https://anthonyvitocuaderno.github.io/resume/img/banner-1.jpg");
    background-size: cover;
    background-position: center;
    animation: 300s spin infinite; }
  section.intro .banner .overlay {
    background-color: #c02828;
    opacity: 0.1; }
  section.intro .overlay {
    transition: 3s ease all;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0; }
  section.intro footer {
    letter-spacing: 2px;
    color: white; }
    section.intro footer .left {
      transition: 1.75s ease all;
      left: 20vw;
      width: 40vw;
      position: absolute;
      height: 100%; }
      section.intro footer .left i.fa {
        width: 25px; }
      section.intro footer .left small {
        font-size: 0.75rem; }
      section.intro footer .left a {
        color: white;
        text-decoration: none; }
        section.intro footer .left a:hover {
          color: #f2c2c2; }
    section.intro footer .right {
      transition: 2.25s ease all;
      width: 20vw;
      position: absolute;
      right: 0;
      height: 100%; }
      section.intro footer .right .explore {
        color: #ababab;
        font-size: 1.25rem;
        padding-bottom: 0.5rem;
        display: inline-block;
        text-decoration: none;
        transition: 0.5s ease all;
        width: 0; }
        section.intro footer .right .explore:hover {
          border-bottom: 1px solid #ababab;
          width: 100%; }
      section.intro footer .right .underline {
        height: 1px;
        width: 100%;
        background-color: #525252; }

section.summary.active.scrolled .left {
  top: 5vh; }

section.summary.active.scrolled .title {
  position: fixed;
  top: 0; }
  section.summary.active.scrolled .title .text {
    font-size: 2rem;
    opacity: 0; }

section.summary.active.scrolled .panel-line.one {
  top: 1rem;
  width: calc(100% - 70px); }

section.summary.active.scrolled .panel-line.two {
  top: calc(100vh - 1rem); }

section.summary.active.scrolled .skills {
  left: 15vw;
  width: 25vw; }

section.summary.active .panel-line {
  position: fixed; }

section.summary.active header {
  position: fixed; }

section.summary {
  height: auto;
  overflow-x: hidden;
  background-image: url("https://anthonyvitocuaderno.github.io/resume/img/banner-2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  left: 100%;
  background-color: #ababab; }
  section.summary .skills {
    transition: 1s ease all;
    position: fixed;
    left: -100vw;
    top: 20vh; }
    section.summary .skills h5 {
      color: #961f1f;
      font-size: 1rem; }
    section.summary .skills li {
      font-size: 0.75rem; }
  section.summary .panel-line {
    transition: 1s ease all; }
  section.summary .panel-line.one {
    top: calc(40vh - 5rem); }
    section.summary .panel-line.one .particle {
      animation: 5s travel infinite; }
  section.summary .panel-line.two {
    top: calc(40vh + 3rem); }
    section.summary .panel-line.two .particle {
      animation: 5s travel infinite reverse; }
  section.summary .panel-line.three {
    top: 0;
    left: -40%;
    transform: rotateZ(90deg); }
    section.summary .panel-line.three .particle {
      animation: 5s travel infinite; }
  section.summary .overlay.darken {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent, transparent);
    opacity: 0.5; }
  section.summary .overlay {
    transition: 0.2s ease all;
    height: 100%;
    width: 100%;
    opacity: 0.15;
    position: absolute; }
  section.summary header .bar-h {
    background-color: #ababab; }
  section.summary header .left {
    transition: 1s ease all;
    position: absolute;
    left: 15vw;
    top: 10vh;
    font-size: 1.25rem; }
    section.summary header .left .name {
      border-bottom: 1px solid #961f1f;
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      display: block; }
    section.summary header .left .emphasis {
      color: #961f1f;
      font-weight: bold; }
  section.summary .title {
    transition: 1s ease all;
    z-index: 1;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 5rem;
    position: absolute;
    top: calc(40vh - 5rem);
    left: 0;
    right: 0;
    text-align: center; }
    section.summary .title .text {
      z-index: 1;
      transition: 1s ease all; }
    section.summary .title p {
      font-size: 1rem;
      width: 70%;
      margin-left: 15%;
      margin-top: 2rem; }
    section.summary .title .back, section.summary .title .forward {
      display: inline-block;
      font-size: 3rem;
      margin: 2rem; }
      section.summary .title .back a, section.summary .title .forward a {
        text-decoration: none;
        color: #ababab; }
        section.summary .title .back a:hover, section.summary .title .forward a:hover {
          color: white; }
    section.summary .title .back {
      z-index: 2;
      position: absolute;
      left: 0; }
      section.summary .title .back a {
        color: #121212; }
    section.summary .title .forward {
      position: absolute;
      right: 0; }
  section.summary .paper {
    padding: calc(10vh - 1px) 2rem;
    border-top: calc(1rem + 1px) solid #961f1f;
    position: relative;
    margin-top: 100vh;
    z-index: 100 !important;
    margin-left: 35vw;
    width: 65vw;
    min-height: 100vh;
    background-color: white; }
    section.summary .paper p {
      margin-bottom: 0.5rem; }
    section.summary .paper aside {
      padding: 1rem;
      text-align: center;
      font-size: 1rem;
      position: absolute;
      left: -25vw;
      bottom: 0;
      width: 25vw;
      background-color: #961f1f; }
      section.summary .paper aside a {
        text-decoration: none;
        color: white; }
