$primary-color: #961f1f
$primary-light-color: lighten($primary-color, 10%)
$primary-lighter-color: lighten($primary-color, 25%)
$primary-lightest-color: lighten($primary-color, 50%)
$primary-dark-color: darken($primary-color, 10%)
$primary-darker-color: darken($primary-color, 25%)
$primary-darkest-color: darken($primary-color, 50%)
$accent-color: #121212
$accent-light-color: lighten($accent-color, 10%)
$accent-lighter-color: lighten($accent-color, 25%)
$accent-lightest-color: lighten($accent-color, 50%)

@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

html
	font-size: 12pt

section
	height: 100vh
	.banner
		width: 40vw
		position: absolute
		left: 10vw
		top: 0
		height: 100vh
		overflow: hidden
		.background
			width: 150vw
			height: 150vh
			position: absolute
			top: -25vh
			left: -50vw
		.overlay
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
	.content
		position: absolute
		left: 15vw
		top: 10vh
	footer
		position: absolute
		bottom: 5vh
		height: 10vh
		width: 100vw
section.intro
	background-color: $accent-color

	header
		position: absolute
		top: 0
		width: 100%
		.bar-h
			background-color: $accent-light-color
			height: 1px
			top: 1rem
			width: calc(50vw - 80px)
			position: absolute
			right: 75px
		.links
			position: absolute
			right: 0
			border: 1px solid $accent-lightest-color
			.fb, .linkedin
				padding: 0.25rem
				width: 30px
				margin: 0
				display: inline-block
				text-align: center
			.fb
				background-color: $accent-lightest-color
				color: $accent-color
			.linkedin
				color: $accent-lightest-color

	
	.banner
		.background
			background-image: url('https://anthonyvitocuaderno.github.io/resume/img/banner-1.jpg')
			background-size: cover
			background-position: center
			animation: 300s spin infinite
		.overlay
			background-color: $primary-light-color
			opacity: 0.1
	
	.overlay
		background: linear-gradient(transparent, rgba(0, 0, 0, 0.25));
		height: 100%
		position: absolute
		left: 0
		right: 0

	.content
		h3
			letter-spacing: 1px
			text-shadow: black 1px 1px 1px;
			color: $accent-lightest-color
			font-size: 1rem
			.emphasis
				color: $primary-color
		h1
			letter-spacing: -5px
			color: $accent-lightest-color
			font-size: 5.5rem
			font-weight: bold
			text-shadow: black 1px 1px 1px;

	footer
		letter-spacing: 2px
		color: white
		.left
			left: 20vw
			width: 40vw
			position: absolute
			height: 100%
			i.fa
				width: 25px
			small
				font-size: 0.75rem
			a
				color: white
				text-decoration: none
				&:hover
					color: $primary-lightest-color
		.right
			width: 20vw
			position: absolute
			right: 0
			height: 100%
			.explore
				color: $accent-lightest-color
				font-size: 1.25rem
				padding-bottom: 0.5rem
				display: inline-block
				text-decoration: none
				transition: 0.5s ease all
				width: 0
				&:hover
					border-bottom: 1px solid $accent-lightest-color
					width: 100%
			.underline
				height: 1px
				width: 100%
				background-color: $accent-lighter-color