body {
  color: #272333;
  background-color: #121212;
  background-image: url("https://i.pinimg.com/originals/d3/38/a5/d338a5a9be008a9d7e7fe3b85dc2a3fb.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.btn a {
  text-decoration: none;
  color: inherit; }

nav.fixed-top {
  left: 165px; }
  nav.fixed-top small {
    color: white;
    margin-top: 0.5rem;
    width: calc(15% - 2rem);
    text-align: left;
    cursor: pointer; }
  nav.fixed-top:hover .hr {
    width: 5%; }
  nav.fixed-top .btn-primary {
    width: 5%;
    background-color: #a02c2c;
    color: #272333;
    border-color: #a02c2c; }
  nav.fixed-top .btn-secondary {
    width: 5%;
    background-color: rgba(0, 0, 0, 0.15);
    color: #a02c2c;
    border-color: #a02c2c; }
  nav.fixed-top .hr {
    transition: 1s ease all;
    margin: 1rem;
    display: inline-block;
    height: 1px;
    width: 75%;
    opacity: 0.5;
    background-color: white; }

.btn-primary-outline {
  background-color: transparent !important;
  border: 2px solid #c83737;
  color: #c83737; }

.btn-secondary-outline {
  color: white;
  background-color: transparent !important;
  border: 2px solid white; }

.hero {
  color: #e6e6e6;
  background: linear-gradient(#272333, transparent);
  padding-bottom: 30%;
  overflow: hidden;
  height: 100vh; }
  .hero .btn {
    margin-top: 1rem;
    font-size: 1.1rem; }
  .hero .btn-secondary-outline {
    margin-left: 1rem; }
  .hero .title {
    font-weigt: bold;
    text-transform: text-uppercase; }
    .hero .title .accent {
      color: #a02c2c; }
  .hero .sub-title {
    display: inline-block;
    border-top: 2px solid #a02c2c; }
  .hero .ring {
    -webkit-transform: rotateY(55deg) rotateX(-35deg) rotateZ(15deg);
    transform: rotateY(55deg) rotateX(-35deg) rotateZ(15deg);
    position: absolute;
    margin: auto;
    bottom: 30vh;
    left: 0;
    right: 0;
    opacity: 0.25; }
    .hero .ring:hover .ring-blade {
      -webkit-transform: rotate(60deg);
      transform: rotate(60deg); }
    .hero .ring:hover .ring-dashed {
      -webkit-transform: translateZ(200px) rotate(-120deg);
      transform: translateZ(200px) rotate(-120deg); }
    .hero .ring:hover .ring-blade-2 {
      -webkit-transform: translateZ(200px) rotate(120deg);
      transform: translateZ(200px) rotate(120deg); }
    .hero .ring:hover .ring-75 {
      -webkit-transform: translateZ(400px) rotate(45deg);
      transform: translateZ(400px) rotate(45deg); }
    .hero .ring:hover .ring-thin {
      -webkit-transform: translateZ(600px) rotate(-75deg);
      transform: translateZ(600px) rotate(-75deg); }
    .hero .ring:hover .ring-thin-2 {
      -webkit-transform: translateZ(600px) rotate(135deg);
      transform: translateZ(600px) rotate(135deg); }
    .hero .ring:hover .ring-thin-3 {
      -webkit-transform: translateZ(600px) rotate(99deg);
      transform: translateZ(600px) rotate(99deg); }
    .hero .ring .ring-component {
      position: absolute;
      width: 40vw;
      transition: 1s ease all; }
    .hero .ring .ring-blade {
      margin: 4vw;
      width: 32vw;
      z-index: 10; }
    .hero .ring .ring-dashed {
      -webkit-transform: translateX(200px);
      transform: translateX(200px);
      z-index: 9; }
    .hero .ring .ring-blade-2 {
      -webkit-transform: translateX(400px);
      transform: translateX(400px);
      margin: 8vw;
      width: 24vw;
      z-index: 8; }
    .hero .ring .ring-75 {
      -webkit-transform: translateX(400px);
      transform: translateX(400px);
      margin: 10vw;
      width: 20vw;
      z-index: 7; }
    .hero .ring .ring-thin {
      -webkit-transform: translateX(600px);
      transform: translateX(600px);
      margin: 12vw;
      width: 16vw;
      z-index: 6; }
    .hero .ring .ring-thin-2 {
      -webkit-transform: translateX(600px);
      transform: translateX(600px) rotate(180deg);
      margin: 14vw;
      width: 12vw;
      z-index: 6; }
    .hero .ring .ring-thin-3 {
      -webkit-transform: translateX(600px);
      transform: translateX(600px) rotate(45deg);
      margin: 16vw;
      width: 8vw;
      z-index: 6; }
    .hero .ring .ring-circle {
      -webkit-transform: translateX(550px);
      transform: translateX(550px);
      width: 2vw;
      height: 2vw;
      margin: 19vw;
      transform-origin: 0 50%;
      border-radius: 50%;
      background-color: #a02c2c;
      z-index: 11; }

.splash.end {
  pointer-events: none;
  opacity: 0;
  transition: 1.5s ease all; }

.splash {
  color: white;
  background-color: #272333;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1030;
  letter-spacing: 2px;
  font-size: 1.6rem;
  font-style: italic; }
  .splash .splash-heading {
    position: fixed;
    top: calc(50% - 250px);
    text-align: center;
    opacity: 0.5; }
  .splash .progress-bar {
    position: fixed;
    top: 0;
    height: 4px;
    width: 100%;
    z-index: 1030;
    background-color: #dfdfdf;
    border-bottom: 1px solid #999; }
    .splash .progress-bar .fill {
      background-color: #512c2c;
      height: 4px;
      width: 0;
      transition: 7s ease all; }
    .splash .progress-bar .fill.percent-100 {
      width: 100%; }
  .splash .coffee {
    text-align: center;
    position: relative; }
    .splash .coffee .coffee-cup {
      display: inline-block;
      background-color: white;
      height: 150px;
      width: 200px;
      border-bottom-left-radius: 70px;
      border-bottom-right-radius: 70px; }
      .splash .coffee .coffee-cup:before {
        content: " ";
        height: 45px;
        width: 35px;
        background-color: #272333;
        display: block;
        margin-top: 25px;
        margin-left: 204px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 70px;
        position: absolute; }
      .splash .coffee .coffee-cup:after {
        content: " ";
        height: 75px;
        width: 50px;
        background-color: white;
        display: block;
        margin-top: 10px;
        margin-left: 204px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 70px; }
    .splash .coffee .coffee-fill {
      height: 70px;
      width: 180px;
      background-color: #272333;
      position: absolute;
      bottom: 24px;
      margin-left: 20px;
      border-bottom-left-radius: 70px;
      border-bottom-right-radius: 70px; }
    .splash .coffee .coffee-fill.full {
      transition: 1.5s ease all;
      height: 130px;
      background-color: #512c2c; }
    .splash .coffee .coffee-plate {
      background-color: white;
      height: 4px;
      width: 220px;
      border-radius: 4px; }
    .splash .coffee .quote {
      position: fixed;
      display: block;
      left: 0;
      right: 0;
      top: calc(50% - 75px);
      width: 100%;
      opacity: 0; }
    .splash .coffee .quote-part-2 .text,
    .splash .coffee .quote .text {
      opacity: 0; }
    .splash .coffee .quote.smoke-up {
      top: calc(50% - 155px);
      transition: 2s ease all;
      opacity: 1; }
    .splash .coffee .quote-part-2.smoke-up .text,
    .splash .coffee .quote.smoke-up .text {
      transition: 10s ease all;
      opacity: 1; }
    .splash .coffee .quote-part-2 {
      position: fixed;
      display: block;
      left: 0;
      right: 0;
      top: calc(50% - 125px);
      letter-spacing: 2px;
      font-size: 1.6rem;
      width: 100%; }
    .splash .coffee:after {
      content: "";
      display: block;
      letter-spacing: 1px;
      background-color: white;
      height: 4px;
      width: 180px;
      margin-left: 20px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
